.button {
  display: inline-block;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  background: #CFCFCF;
  font-size: 14px;
}

.button-ico {
  padding: 10px 10px 10px 30px;
  position: relative;  &:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 7px;
    top: 7px;
  }
}

.tb-big-title {
  margin-top: 0;
  padding-right: 150px;
  font-size: 2.3rem;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

/* Adiciona a animação para a mensagem de erro */
.error-message {
  position: fixed;
  bottom: 20px;
  right: -400px;
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  animation: slide-in 1s forwards, slide-out 1s 4s forwards;
}

@keyframes slide-in {
  from {
    right: -400px;
  }
  to {
    right: 20px;
  }
}

@keyframes slide-out {
  from {
    right: 20px;
  }
  to {
    right: -400px;
  }
}

